body {
  font-family: Oswald;
  line-height: 1.5;
  background-color: #ffffff;
  color: #ffffff;
}

header {
  width: 100vw;
  height: 100px;
  background-color: #a90001;
  padding-top: 15px;
}

h1 {
  font-size: 35px;
}

a.download {
  text-decoration: none;
}
#calendar-title, #schedule-page {
  display: none;
}

.title {
  text-align: center;
  position: relative;
}

.title img {
  position: absolute;
  left: 30px;
  top: 3px;
  width: 200px;
}

div.login-content, div.schedule-content {
  background: #e9e9e9 url("campus-library.jpg");
  background-position: right;
  background-size: 1000px 700px;
  padding: 4vh 20px 20px;
  margin: 50px auto 10px auto;
  border-radius: 10px;
}

div.schedule-content {
  background: #e9e9e9;
}

div.login-content {
  width: 45vw;
  height: 65vh;
}

div.schedule-content {
  width: 90vw;
  height: 65vh;
}

img.seal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 23%;
}

input[type='user'], input[type='password'] {
  padding: 15px 20px 15px 20px;
  margin: 10px 0 8px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

button {
  background-color: #a90001;
  color: white;
  font-family: Oswald;
  font-size: 20px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

input[type='user'], input[type='password'], button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container {
  padding: 16px;
  display: ;
}

#quarters {
  font-family: Oswald;
  color: #333333;
  width: 200px;
  display: block;
  padding: 10px 15px 10px 15px;
  margin: auto auto;
  border: none;
  border-radius: 10px;
}

#table-wrapper {
  position: relative;
}

#table-scroll {
  height: 40vh;
  overflow: auto;
  margin-top: auto;
}

#student-schedule {
  background: #ffffff;
  width: 100% inherit;
  height: 100% inherit;
  display: block;
  margin: auto auto;
}

#student-schedule thead {
  background-color: #a90001;
  height: 10vh;
  font-size: 35px;
}

#student-schedule th {
  color: #ffffff;
}

#student-schedule tr {
  color: #aeaeae;
  border-bottom:1pt solid #aeaeae;
}

td {
  padding: 2%;
  width: 1000px;
}

#add {
  width: 20%;
  height: 50px;
  margin-top: 19px;
  text-align: center;
  padding: 5px;
}

@media (max-width: 760px) {
  header {
    height: 90px;
    padding-top: 22px;
  }

  h1 {
    font-size: 25px;
  }

  .title img {
    left: 30px;
    top: 4px;
    width: 125px;
  }

  div.login-content {
    height: 55vh;
  }

  img.seal {
    width: 60%;
  }

  input[placeholder='Student Username'], input[placeholder='Enter Password'] {
    font-size: 12px;
    padding: 4px 4px 4px 6px;
    border-radius: 7px;
  }

  button {
    padding: 7px 10px;
    font-size: 15px;
  }

  #student-schedule thead {
    height: 10vh;
    font-size: 20px;
  }

  td {
    padding: 1%;
  }

  #add {
    font-size: 12px;
    width: 30%;
    height: 40px;
    margin-top: 25px;
    text-align: center;
    padding: 5px;
  }

}

.errorResponse {
  display: none;
  color: #FFF;
  text-align: center;
}

.buttonLoading {
  background-color: #FFF;
  color: #A90001;
  display: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
